<!-- video-trimmer.component.html -->
<div class="flex flex-col items-center p-5 space-y-5" style="overflow: hidden">
  <!-- Upload Video Button -->
  <div class="flex flex-col items-center space-y-4">
    <label for="videoUpload" class="btn btn-primary"> Upload Video </label>
    <input
      id="videoUpload"
      type="file"
      accept="video/*"
      class="hidden"
      (change)="onFileSelected($event)"
    />
  </div>

  <!-- Video player (initially hidden until a video is loaded) -->
  <div class="relative w-full max-w-4xl">
    <video
      #videoPlayer
      id="video"
      class="w-full border rounded-md shadow-lg"
      [controls]="false"
      (timeupdate)="onVideoTimeUpdate($event)"
      [hidden]="!isVideoLoaded"
    >
      Your browser does not support the video tag.
    </video>
  </div>

  <!-- Custom timeline with draggable handles for trimStart and trimEnd -->
  <div #timeline class="timeline-container" *ngIf="isVideoLoaded">
    <div
      class="timeline-range"
      [style.left.%]="(trimStart / videoDuration) * 100"
      [style.width.%]="((trimEnd - trimStart) / videoDuration) * 100"
    ></div>

    <!-- Start handle -->
    <div
      class="handle start"
      [style.left.%]="(trimStart / videoDuration) * 100"
      (mousedown)="onDragStart($event, 'start')"
      (touchstart)="onDragStart($event, 'start')"
    >
      <span class="time-tooltip">{{ trimStart | number : "1.2-2" }}</span>
    </div>

    <!-- End handle -->
    <div
      class="handle end"
      [style.left.%]="(trimEnd / videoDuration) * 100"
      (mousedown)="onDragStart($event, 'end')"
      (touchstart)="onDragStart($event, 'end')"
    >
      <span class="time-tooltip">{{ trimEnd | number : "1.2-2" }}</span>
    </div>
  </div>

  <div class="flex flex-row justify-center gap-10">
    <!-- Custom Play/Pause Controls -->
    <div class="flex items-center space-x-4" *ngIf="isVideoLoaded">
      <button class="btn btn-secondary" (click)="togglePlayPause()">
        {{ isPlaying ? "Pause" : "Play" }}
      </button>
      <span
        >{{ currentTime | number : "1.2-2" }} /
        {{ videoDuration | number : "1.2-2" }}s</span
      >
    </div>
    <!-- Save Button -->
    <button
      *ngIf="isVideoLoaded"
      class="btn btn-primary"
      (click)="saveTrimmedClip()"
    >
      Trim Video
    </button>
  </div>
</div>
