
/frontend/memifier/.angular
/frontend/memifier/.nx
frontend/memifier/.editorconfig
/frontend/memifier/.vscode
/frontend/memifier/node_modules
/frontend/memifier/android
/frontend/memifier/dist
frontend/memifier/package-lock.json
/backend/uploads
backend/.env
/backend/__pycache__
