<div class="flex flex-col gap-10">
  <div class="media-container">
    <video
      style="max-height: 20rem"
      #videoElement
      *ngIf="mediaType === 'video'"
      [src]="mediaSrc"
      autoplay
      loop
      muted
      (ended)="restartVideo($event)"
    ></video>
    <img
      #imageElement
      *ngIf="mediaType === 'image'"
      [src]="mediaSrc"
      alt="Captured Frame"
    />

    <div
      *ngFor="let textOverlay of texts; let i = index"
      class="overlay-text"
      [ngStyle]="{ color: textOverlay.color, fontSize: textOverlay.fontSize + 'px', left: textOverlay.x + 'px', top: textOverlay.y + 'px' }"
      (mousedown)="startDrag($event, i)"
      (mousemove)="onDrag($event)"
      (mouseup)="stopDrag()"
      (touchstart)="startTouch($event, i)"
      (touchmove)="onTouchMove($event)"
      (touchend)="stopTouch()"
    >
      {{ textOverlay.text }}
    </div>
  </div>

  <div class="flex flex-row justify-center gap-5" *ngIf="!isEditing" style="align-items: end;">
    <button [disabled]="isEditing" class="btn btn-primary" (click)="addText()">
      Add Text
    </button>
    <div class="flex flex-col">
      <div class="label">
        <span class="label-text">Export Type</span>
      </div>
      <select class="select select-bordered" [(ngModel)]="selectedLayout">
        <option *ngFor="let layout of layouts" [value]="layout">
          {{ layout }}
        </option>
      </select>
    </div>
  </div>

  <div class="flex flex-row justify-center gap-5" *ngIf="isLoading">
    <span class="loading loading-spinner loading-lg"></span>
  </div>

  <!-- Overlay for text input and controls -->
  <div class="flex flex-col gap-5" *ngIf="isEditing">
    <input
      class="input input-bordered w-full max-w-xs"
      #textInput
      [(ngModel)]="texts[texts.length - 1].text"
      placeholder="Enter text"
    />

    <div class="flex flex-row gap-5 items-center">
      <label class="label">Font Size</label>
      <input
        type="range"
        min="10"
        max="50"
        [(ngModel)]="texts[texts.length - 1].fontSize"
        class="range range-primary"
      />
      <span>{{ texts[texts.length - 1].fontSize }}px</span>
    </div>

    <div class="flex flex-row gap-5 items-center">
      <label class="label">Text Color</label>
      <input
        type="color"
        [(ngModel)]="texts[texts.length - 1].color"
        class="input input-bordered"
        style="width: 100%"
      />
      <span>{{ texts[texts.length - 1].color }}px</span>
    </div>

    <button class="btn btn-primary" (click)="saveText()">Save</button>
  </div>
</div>
