<div class="media-container">
    <video #videoElement *ngIf="mediaType === 'video'" [src]="mediaSrc" autoplay loop muted (ended)="restartVideo($event)"></video>
    <img *ngIf="mediaType === 'image'" [src]="mediaSrc" alt="Captured Frame">
  
    <div class="overlay-text" *ngIf="text" (mousedown)="startDrag($event)">{{ text }}</div>
  </div>
  
  <button *ngIf="!isEditing" (click)="addText()">Add Text</button>
  
  <!-- Overlay for text input -->
  <div class="text-input-overlay" *ngIf="isEditing">
    <input #textInput [(ngModel)]="text" placeholder="Enter text" />
    <button (click)="saveText()">Save</button>
  </div>