<div class="p-10 flex flex-col" style="height: 100vh">
  <!-- Stepper -->
  <ul class="steps">
    <li class="step" [ngClass]="{ 'step-primary': currentStep === 1 }">
      Upload
    </li>
    <li class="step" [ngClass]="{ 'step-primary': currentStep === 2 }">Edit</li>
    <li class="step" [ngClass]="{ 'step-primary': currentStep === 3 }">
      Export
    </li>
  </ul>

  <!-- Step content -->
  <div
    *ngIf="currentStep === 1"
    class="flex flex-col justify-between"
    style="height: 80vh"
  >
    <!-- Video Trimmer for Upload -->
    <video-trimmer
      (videoTrimmed)="onVideoTrimmed($event)"
      (frameCaptured)="onFrameCaptured($event)"
    ></video-trimmer>
  </div>

  <div
    *ngIf="currentStep === 2"
    class="flex flex-col justify-between pt-10"
    style="height: 80vh"
  >
    <!-- Edit Component -->
    <text-overlay
      *ngIf="responseData"
      [mediaType]="responseType"
      [mediaSrc]="responseData"
    ></text-overlay>

    <div class="w-100 flex justify-between">
      <button class="btn btn-secondary" (click)="previousStep()">
        Back: Upload
      </button>
      <button class="btn btn-primary" (click)="nextStep()">Next: Export</button>
    </div>
  </div>

  <div
    *ngIf="currentStep === 3"
    class="flex flex-col justify-between"
    style="height: 80vh"
  >
    <!-- Export Component -->
    <app-export style="height: 100%;" [exportedUrl]="exportUrl" [mediaType]="responseType"></app-export>
    <div class="w-100 flex justify-between">
      <button class="btn btn-secondary" (click)="previousStep()">
        Back: Edit
      </button>
    </div>
  </div>
</div>
